@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

body {
  background-color: #4CB5F5;
  font-family: "Lato", sans-serif;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
