{% extends "layout.html" %}

{% block content %}

<form method="GET">
<div class="ui fluid action input">
  <input list="brow" name="search">
  <datalist id="brow">
    <option value="">
  {% for stock_name in stock_list %}
    <option value="{{stock_name[2]}}">
  {% endfor %}
  </datalist>
<button class="ui button" type="submit">Search</button>
</div>
</form>

<h1>{{stock[1]}}</h1>
<div class="ui labeled button" tabindex="0">
  <div class="ui red button">
    <i class="rupee sign"></i> Price
  </div>
  <a class="ui basic red left pointing label">
    {{technical_data[6]}}
  </a>
</div>
<br/>
<span>Symbol : {{stock[2]}}</span>
<span>Exchange : {{stock[3]}}</span>
<span>Currency : {{stock[4]}}</span>
<br/>
<br />

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_f5de4"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener"
      target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
    new TradingView.widget(
      {
        "autosize": true,
        "symbol": "{{ stock[3]}}:{{stock[2]}}",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "light",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "hide_side_toolbar": false,
        "allow_symbol_change": true,
        "container_id": "tradingview_f5de4"
      }
    );
  </script>
</div>
<!-- TradingView Widget END -->

<h2>Analyst Recommendations </h2>
<table class="ui red table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Action</th>
      <th>Target</th>
      <th>Analyst</th>
    </tr>
  </thead>
  <tbody>
{% for recommendation in recommendation_list %}
<tr>
  <td>{{recommendation[1]}}</td>
  <td>{{recommendation[6]}} </td>
  <td>{{recommendation[7]}}</td>
  <td>{{recommendation[8]}}</td>
</tr>
{% endfor %}
</tbody>
</table>
<h2>News </h2>
<table class="ui red table">
<thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Source</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
{% for news in news_list %}
<tr>
      <td>{{news[1]}}</td>
      <td>{{news[2]}} </td>
      <td>{{news[4]}}</td>
      {% if news[5] == 'Moneycontrol.com' %}
      <td><a href="https://www.moneycontrol.com{{news[5]}}" target="_blank">More details</a></td>
      {% else %}
      <td><a href="{{news[5]}}" target="_blank">More details</a></td>
      {% endif %}

</tr>

{% endfor %}
</tbody>
</table>

<h2>Technical Data </h2>

<table class="ui red table">

  <thead>
    <tr>
      <th>Period</th>
      <th>SMA</th>
      <th>Indication</th>
    </tr>
  </thead>
  <tbody>
    {% for index, value in [(12,8),(21,9),(26,10),(34,11),(55,12),(99,13),(200,14)] %}
    <tr>
      <td>{{index}}</td>
      <td>
        {{technical_data[value]}}
      </td>
      {% if technical_data[6] > technical_data[value] %}
      <td>Bullish</td>
      {% else %}
      <td>Bearish</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
