<html lang="en">

  <head>
    <title>One STOP Stock Analysis</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>

  <body>

    <div class="ui container">
      <h2 class="ui dividing header"></h2>
      <h1>Stock Analysis</h1>
      <div class="ui menu">
        <div class="header item">Brand</div>
        <a class="active item">Link</a>
        <a class="item">Link</a>
        <div class="ui dropdown item">
          Dropdown
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Action</div>
            <div class="item">Another Action</div>
            <div class="item">Something else here</div>
            <div class="divider"></div>
            <div class="item">Separated Link</div>
            <div class="divider"></div>
            <div class="item">One more separated link</div>
          </div>
        </div>
        <div class="right menu">
          <div class="item">
            <div class="ui action left icon input">
              <i class="search icon"></i>
              <input type="text" placeholder="Search">
              <button class="ui button">Submit</button>
            </div>
          </div>
          <a class="item">Link</a>
        </div>
      </div>

      {% block content %}
      {% endblock %}

    </div>


  </body>

<div id="footer" class="ui center aligned segment">
    {% block footer %}
    &copy; Copyright 2022 by <a href="http://domain.invalid/">Stock Analysis @ Le Wagon</a>.
    {% endblock %}
  </div>
</html>
