@mixin getMilestonesStyles(){

  .milestones{

    display:flex;
    justify-content: space-between;
    background-color: #1C4E80;
    padding: 0.8rem;
    border-radius: 1rem;
    .milestone{
      display: flex;
      justify-content: center;
      align-items: center;
      gap:1rem;
      border-right: 3px solid #0d88e6;

      &:last-of-type{
        border-right: none;
      }
      padding-right: 3rem;
      .icon{
        padding: 1rem;
        font-size:1.4rem;
        border-radius: 1rem;
        color:white;
        background-color:#0d88e6;
      }
      h2{
        color:#0d88e6;
      }

    }


}

}
